@font-face {
  /* sans-serif  Regular */
  font-family: 'msaR';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MontserratAlternates-Regular.ttf');
}
@font-face {
  /* sans-serif SemiBold  */
  font-family: 'msaR';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/MontserratAlternates-SemiBold.ttf');
}
@font-face {
  /* sans-serif  Bold */
  font-family: 'msaR';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/MontserratAlternates-Bold.ttf');
}
@font-face {
  /* sans-serif  Italic */
  font-family: 'msaRItalic';
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/MontserratAlternates-Italic.ttf');
}
:root {
  --transTime: 0.3s;
  --txtColor: #000;
  --txtHdrColor: #004DC0;
  --bgColor1: #ECF7FF;
  --bgColor2: #BDE2FE;
  --bgColor3: #9ED5FE;
  --bgColor9: #026AB6;
  --bgMap: #FCF4DF;
  --bodyBlockW: 1920px;
  --containerW: 1600px;
  --contentInnerPadX: 4px;
}
/* var(--transTime) var(--bgColor1)

var(--bgColor2) var(--bgColor3) 
var(--bgColor9) var(--bgMap)   
var(--bodyBlockW) var(--containerW) var(--contentInnerPadX)
*/
/* html {  font-size: 10px;} */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: msaR, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  min-width: 320px;
  min-height: 100vh;
  //overflow-x: hidden;
  background-color: var(--bgColor1);
  color: var(--txtColor);
}
article{
  width: 100%;
}
h1, h2, h3, h4 {
  margin: 0;
}
button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, p, fieldset {
  margin: 0;
}
.bodyBlock {
  max-width: var(--bodyBlockW);
  margin: 0 auto;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -1px 0px 15px 17px rgba(59, 146, 255, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -1px 0px 15px 17px rgba(59, 146, 255, 0);
}
.container {
  margin: 0 auto;
  max-width: var(--containerW);
  min-height: 10vh;
  height: 100%;
}
.block {
  position: relative;
  z-index: 10;
}
.w100blue {
  background-color: rgba(0, 0, 255, 0.4);
  width: 100%;
  height: 100%;
  min-height: 100px;
}
.w100red {
  background-color: rgba(255, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  min-height: 100px;
}
