@import "../000css/mix";

/* .inputField */
.inputField {
  position: relative;
}

.inputField input {
  padding: 10px;
  padding-left: 64px;
  // width: calc(100% - 74px);
  width: 100%;
  border-radius: 15px;
  border: 1px solid #D9D9D9;
  background: #FFF;

  color: #959595;
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
}

.inputField input:focus {
  outline: none;
}

.inputField::before {
  content: '';
  position: absolute;
  left: 21px;
  top: calc((100% - 20px) / 2);
  z-index: 10;

  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.inputField_name::before {
  background-image: url(../img/input/name.svg);
}

.inputField_phone::before {
  background-image: url(../img/input/phone.svg);
}

.inputField_mail::before {
  background-image: url(../img/input/mail.svg);
}

.inputField_select::before {
  background-image: url(../img/input/select.svg);
}
/* /.inputField */

/* .blockTitle */
.blockTitle {
  /* margin-bottom: 82px; */
  color: #000;
  font-family: msaR;
  font-size: 52px;
  font-weight: 600;
  position: relative;
  width: max-content;
}
.blockTitle__line {
  display: inline-block;
  width: 100px;
  height: 8px;
  background-color: #00A6E8;
  border-radius: 0px 5px 5px 0px;
  background: #004DC0;
}

@media (max-width: 1300px) {
  .blockTitle { // font-size: 46px;
    font-size: 46px;
  }
  .blockTitle__line { // vVal
    @include vVal(width, 1300px, 940px, 100px, 10px);
  }
}
@media (max-width: 1024px) {
  .blockTitle__line { // display: none;
    display: none;
  }
}
@media (max-width: 600px) {
  .blockTitle { // vVal
    @include vVal(font-size, 600px, 320px, 48px, 23px);
  }
}
/* /.blockTitle */

// blueLine100
.blueLine100 {
  //width: 100vw;
  width: 100%;
  height: 1px;
  background-color: #00A6E8;
  position: absolute;
  bottom: 10px;
  //left: calc((100vw - 100%) / 2);
  left: 0;
}
// /blueLine100

/* .socials */
.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.socials__item a {
  //display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  width: 43px;
  height: 43px;
  /* transition: all var(--transTime); */
}

.socials__item_phone {
  display: none;
  width: 43px;
  height: 43px;
  background-image: url(../img/social_phone.png);
  transition: background-image var(--transTime);
}
.socials__item_phone:hover {
  background-image: url(../img/social_phone1.png);
}
.navigation__item .socials {
  display: flex;
}
.navigation__item .socials__item_phone {
  display: flex;
}

.socials__item_wk {
  background-image: url(../img/social_wk.png);
  transition: background-image var(--transTime);
}
.socials__item_wk:hover {
  background-image: url(../img/social_wk1.png);
}

.socials__item_ok {
  background-image: url(../img/social_ok.png);
  transition: background-image var(--transTime);
}
.socials__item_ok:hover {
  background-image: url(../img/social_ok1.png);
}

.socials__item_wa {
  transition: background-image var(--transTime);
  background-image: url(../img/social_wa.png);
}
.socials__item_wa:hover {
  background-image: url(../img/social_wa1.png);
}

.socials__item_tg {
  background-image: url(../img/social_tg.png);
  transition: background-image var(--transTime);
}
.socials__item_tg:hover {
  background-image: url(../img/social_tg1.png);
}
/* /.socials */

/* .bluLinkButton */
.bluLinkButton {
  position: relative;
}
.bluLinkButton a {
  display: inline-flex;
  padding: 20px 30px 20px 30px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

  border-radius: 35px;
  background: linear-gradient(180deg, #00A0E3 0%, #004DC0 100%);
  box-shadow: 0 10px 20px 0 rgba(0, 160, 227, 0.30);

  color: #FFF;
  font-family: msaR sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* cursor: pointer; */
  text-decoration: none;
  white-space: nowrap;
  /* background-color: red; */

  transition: opacity var(--transTime);
}
.bluLinkButton .lvl2 {
  z-index: 2;
  position: absolute;
  background: #004DC0;
  opacity: 0;
}
.bluLinkButton:hover .lvl2 {
  opacity: 1;
}

.bluLinkButton.disabled a {
  background: linear-gradient(180deg, #a6b7bf 0%, #424549 100%);
  box-shadow: 0 10px 20px 0 rgba(0, 160, 227, 0.30);

  color: #cacaca;
  cursor: not-allowed;
}
/* /.bluLinkButton */

@media (max-width: 1240px) {
  .header__infoBlock .socials__item_phone {
    display: inline-block;
  }
}

