.inputFldBase {
  outline: none;
  /* border: 3px solid transparent; */
}
/* .inputFldBase:invalid {
  border: 3px solid red;
  box-shadow: 0 0 10px red inset
} */
.inputFldBase.visitedI:invalid{
  box-shadow: 0 0 10px red inset
}
.inputFldBase:focus {
  color: #6c6c6c;
  /* border: 3px solid #FBF138; */
  box-shadow: 0 0 4px #0022aa inset
}
