.sectionHeader {
  z-index: 20;
  height: 204px;
  background-image: url(../imgBg/00header.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto;
}

.contentSecHeader {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--contentInnerPadX);
  // background-color: rgba(218, 181, 136, 0.3);
}