@import "../000css/mix";

.sectionFooter{
  margin-top: -150px;
  background-image: url(../imgBg/10footer.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto;
}
.contentSecFooter{
  height: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--contentInnerPadX);

  // background-color: rgba(94, 154, 154, .4);
}

.footer {
  margin-top: -130px;
  padding-top: 100px;
  height: 355px;
  //width: 100vw;
  //margin-left: calc((100% - 100vw)/2);
  width: 100%;
  margin-left: 0;

  box-sizing: border-box;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 10px;

  color: #fff;
}
.footer a {
  color: #fff;
}

.logoBlock {
  font-size: 14px;
  font-weight: 400;
}
.footer .logo{
  background-image: url(../img/logotype2.png);
}
.footer .logoImg{
  width: 100%;
}
.copyr {
  margin-top: 30px;
}
.license {
  margin-top: 7px;
}
.linkInText a{
  position: relative;
  text-decoration-color:#FFF;
  text-decoration: underline;
}
.footer .navigation__list {
  //padding: 0 37px 32px;
  padding: inherit 10px;
}

.footer .navigation__item:first-child{
  display: none;
}
.warningInfo{
  font-size: 14px;
  font-weight: 400;
  max-width: 376px;
}
.warningInfo__item:nth-child(2) {
  margin-top: 16px;
  margin-bottom: 22px;
}
.linkInText{
  position: relative;
  text-decoration-color:#FFF;
  text-decoration: underline;
}

.payCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  flex-wrap: wrap;
  padding: 12px 16px;
  text-align: center;
  border-radius: 5px;
  background: #FFF;
  max-width: 193px;
}
.payCards__Title {
  flex-basis: 100%;
  white-space: nowrap;
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
.payCards__card {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payCards__card a {
  display: inline-block;
  width: 39px;
  height: 38px;
}
.payCards__card_master {
  background-image: url(../img/footer_card_mastercard.svg);
  width: 39px;
  height: 38px;
  flex-shrink: 0;
}
.payCards__card_visa {
  background-image: url(../img/footer_card_visa.svg);
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}
.payCards__card_mir {
  background-image: url(../img/footer_card_mir.svg);
  width: 42px;
  height: 11px;
  flex-shrink: 0;
}

.moreInfos{
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.designStudio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  line-height: 17px;
}
.designStudio__logo {
  width: 42px;
  height: 42.048px;
  flex-shrink: 0;
  background-image: url(../img/footer_studio.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.designStudio__info {
  font-family: msaR, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.pageStatistic {
  /* position: fixed;
  right: 2px;
  bottom: 0; */
  background-image: url(../img/footer_pg_stat.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 88px;
  height: 31px;
  flex-shrink: 0;
}
.pageStatistic a {
  display: inline-block;
  width: 88px;
  height: 31px;
}

.sectionFooterBottom {
  height: 43px;
  background-color: var(--bgColor9);
  margin-top: -10px;
}
//.sectionFooterBottom {
//  height: 300px;
//  background-color: var(--bgColor9);
//  margin-top: -200px;
//}
.sectionFooterBottom {
  height: 200px;
  background-color: var(--bgColor9);
  margin-top: -200px;
}

@media (max-width: 1400px){

}
@media (max-width: 1240px){
  .footer{
    display: grid;
    grid-template-columns: 1.2fr .4fr 1.4fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
      "logo center protect"
      "card center info";
  }
  .logoBlock{
    grid-area: logo;
  }
  .footer .navigation__list{
    grid-area: center;
  }
  .warningInfo{
    grid-area: protect;
  }
  .payCards{
    margin-top: 5px;
    grid-area: card;
  }
  .moreInfos{
    grid-area: info;
    flex-direction: row;
  }
  .sectionFooterBottom {
    height: 250px;
    background-color: var(--bgColor9);
    margin-top: -200px;
  }
  //.footer{
  //  //flex-wrap: wrap;
  //  //display: grid;
  //  //grid-template-columns: ;
  //}
  //.payCards{
  //  //flex-break:before;
  //  flex-basis: 100%;
  //}
}
@media (max-width: 940px){
  .sectionFooter {
    margin-top: 180px;
  }
  .copyr {
    margin-top: 30px;
  }
  .warningInfo {
    font-size: 10px;
  }
  .logoBlock {
    font-size: 10px;
  }
}
@media (max-width: 700px){
  .footer {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
    "logo center"
    "card center"
    "protect protect"
    "info info";
  }
  .warningInfo {
    margin-top: 10px;
    flex-direction: row;
    max-width: initial;
  }
  .warningInfo__item:nth-child(2) {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .moreInfos{
    margin-top: 12px;
    //justify-self: end;
    justify-content: space-between;
  }
  .pageStatistic{
    margin-right: var(--contentInnerPadX);
  }

  .footer .navigation__list {
    margin-top: 0;
    justify-self: self-end;
  }

  .sectionFooterBottom {
    height: 370px;
  }
}
@media (max-width: 400px){

  .footer {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
    "logo center"
    "card card"
    "protect protect"
    "info info";
  }
  .logoBlock{
    align-self: start;
  }
  .payCards {
    margin-top: -15px;
  }
  .footer .navigation__list {
    margin-top: -30px;
  }
  .sectionFooterBottom {
    height: 440px;
  }
}