.sectionApp {
  z-index: 20;
  margin-top: 40px;
  background-image: url(../imgBg/05App.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto;
}

.contentSecApp {
  min-height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--contentInnerPadX);
}

.appointment {
  position: relative;
}

.appointment__row {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
}

.appointment_form {
  width: 100%;
}

.appointment__formBlock {
  /* height: 200px; */
  flex-basis: 50%;
  width: 100%;
  flex-shrink: 0;
}

.appointment__formBlock form {
  max-width: 542px;
  height: 418px;
  /* background-color: blueviolet; */
}

.appointment__formTitle {
  margin-bottom: 40px;
  width: 0;
  white-space: nowrap;
}

.appointment__topInfoline {
  /* max-width: 770px; */
  color: #000;
  font-size: 26px;
  font-weight: 400;
  width: 0;
  white-space: nowrap;
}

.appointment__topInfoline a {
  color: #004DC0;
  font-family: msaR;
  font-size: 26px;
  font-weight: 600;
  /* text-decoration: none; */
}

.appointment__topInfoline2 {
  margin-bottom: 25px;
}

.appointment__formField {
  margin-bottom: 20px;
  /* width: 522px; */
  color: #959595;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  /*  */
  /* display: flex;
  width: 542px;
  padding: 0px 20px 10px 0px;
  align-items: center;
  gap: 21px;

  border-radius: 15px;
  border: 1px solid #D9D9D9;
  background: #FFF; */
}

.appointment__formButton {
  margin-bottom: 120px;
}

/* appointment__photoBlock */
.appointment__photoBlock {
  /* margin-top: 140px; */
  /* margin-bottom: 140px; */
  flex-basis: 50%;
  width: 100%;
  /* flex-shrink: 0; */
  /* height: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.appointment__frontman {
  width: 80%;
}

@media (max-width: 940px) {
  .appointment__formBlock {
    /* height: 200px; */
    flex-basis: 466px;
    width: 100%;
    flex-shrink: 0;
  }
  .appointment__formTitle {
    font-size: 48px;
  }
  .appointment__topInfoline {
    font-size: 24px;
  }
  .appointment__topInfoline2 {
    font-size: 22px;
  }
  .appointment__photoBlock {
    /* margin-top: 140px; */
    /* margin-bottom: 140px; */
    /* flex-basis: 50%; */
    width: 100%;
    /* flex-shrink: 0; */
    /* height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 700px) {
  .appointment__photoBlock {
    overflow-x: hidden;
  }
  .appointment__frontman {
    width: 184px;
    position: absolute;
    z-index: -1;
  }
}
@media (max-width: 600px) {
  .appointment__formBlock {
    flex-basis: initial;
  }
  .appointment__formTitle {
    font-size: calc(48px - (600px - 100vw) * 0.0821428571);
  }
  .appointment__topInfoline {
    font-size: calc(24px - (600px - 100vw) * 0.0392857143);
  }
  .appointment__topInfoline2 {
    font-size: calc(22px - (600px - 100vw) * 0.0428571429);
  }
  .inputField input {
    font-size: calc(18px - (600px - 100vw) * 0.0107142857);
  }
}/*# sourceMappingURL=04_App.css.map */